.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $color-green;
	display: flex;
	justify-content: start;
	align-items: center;
	z-index: 50;

	&__logo-box {
		margin-left: 3rem;
	}

	&__logo {
		font-size: 2rem;
		color: $color-white;
		padding: 1rem;
	}

	&__name-box {
		display: flex;
		align-items: center;				
	}

	&__name{
		font-size: 1.4rem;
		color: $color-white;
		line-height: 1.4rem;
		margin-left: 2rem;
		display: inline-block;
		& input {
			width: 7rem;	
		}			
	}
	
	&__delete-box{
		font-size: 1rem;
		color: $color-white;		
		line-height: 1.4rem;
		position: absolute;
		right: 13rem;
		cursor: pointer;
	}

	&__delete-box{
		right: 5rem;		
	}

	&__icon{
		font-size: 1.4rem;
		margin-right: 0.5rem;
	}
	
	& input{ 
		position: relative;
		background-color: #c1e4d1;      
        outline: none!important;
		border: none;
		margin-left: 2rem;
		padding: 0 0.3rem;
        text-align: left;
		width: 7rem;		
		height: 1.4rem;
		box-sizing: border-box;
		font-size: 1.4rem;
    }	   
}