.controls{
	position: fixed;
	top: 4rem;
	left: 0;
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	z-index: 50;

	&_current-id, &_formula-select{
		font-size: 1.15rem;
		margin: 0 10px;
		width: 2rem;
	}
	&_formula-select{
		height: 1.5rem;
	}
	&_input{
		outline: none!important;
        border: 1px solid #999;
        text-align: left;
        width: 100%;
        height: 1.5rem;
        box-sizing: border-box;
		background: none;
		padding: 0 0.5rem;
		margin: 0 ;
	}
}
